@import "variables"

body
  font-family: $montserratRegular
  background: #F0F1F2

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  -webkit-box-shadow: 0 0 0 30px transparent inset !important

//главные блоки на странице
.admin-container
  padding: 0 4rem

.doctor-container
  position: relative

.p
  &-h1
    font-size: $fs2
  &-h2
    font-size: $fs3
    color: #555555
  &-h3
    font-size: $fs4
    color: #555555
  &-h5
    font-size: $fs5
    &-right
      font-size: $fs5
      text-align: right

button[type=submit]
  color: white!important
